{%extends "layout.html"%}

{% block head %}
<meta charset="utf-8" />
<title>FileDataExtraction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{%endblock%}

{% block content %}
<div class="forgot_password_user verification">
    <h2>Ingrese su correo</h2>
    <input type="email" name="user" id="user" title="Inserte un Email Válido" required>
    <h2>Ingrese la respuesta a las siguientes preguntas</h2>
    <label for="pregunta1" >Nombre de su primera mascota</label>
    <input type="text" name="pregunta1" id="pregunta1" required>
    <label for="pregunta2" >Nombre de su ciudad de nacimiento</label>
    <input type="text" name="pregunta2" id="pregunta2" required>
    <label for="pregunta3" >¿Cual fue su primer trabajo?</label>
    <input type="text" name="pregunta3" id="pregunta3" required>
    <br>
</div>
<div>
    <input type="submit" value="Recuperar" enctype="multipart/form-data">
    <button>
        <a href="{{url_for('login.__login')}}">
            Volver
        </a>
    </button>

</div>
{% endblock %}