{%extends "layout.html"%}

{% block head %}
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{%endblock%}

{% block content %}
{%with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<h1>Ingrese los datos</h1>
<div class="datoslogin">
    <label for="user" >Usuario</label>
    <input type="email" name="user" id="user" title="Inserte un Email Válido" required>
    <br>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Ingrese una contraseña con mínimo una
    mayúscula, un número y un carácter especial"  required>
    <br>

</div>
<div class="preguntas_seguridad">
    <h2>Ingrese las repuestas a las preguntas de seguridad</h2>
    <p>Estas se usaran para recuperar su contraseña, recuerde que estas respuestas son sensibles a mayúsculas y minúsculas</p>
    <label for="pregunta1" >Nombre de su primera mascota</label>
    <input type="text" name="pregunta1" id="pregunta1" required>
    <label for="pregunta2" >Nombre de su ciudad de nacimiento</label>
    <input type="text" name="pregunta2" id="pregunta2" required>
    <label for="pregunta3" >¿Cual fue su primer trabajo?</label>
    <input type="text" name="pregunta3" id="pregunta3" required>
</div>
<input type="submit" enctype="multipart/form-data" value="Crear usuario">

{% endblock %}