{%extends "layout.html"%}

{% block head %}
<meta charset="utf-8" />
<title>FileDataExtraction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{%endblock%}

{% block content %}
{%with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times</span>
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<h1>Aplicacion de consulta de salones</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="formLogin">
            <label for="user" >Usuario</label>
            <input type="text" name="user" id="user" required>
            <br>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required>
            <br>
        </div>
        <div class="buttonsLogin">
            <input type="submit" value="Login" enctype="multipart/form-data">
        </div>
        <div class="createLogin">
            <button><a>Create User</a></button>
        </div>
    </form>
{% endblock %}