{%extends "layout.html"%}

{% block head %}
<meta charset="utf-8" />
<title>FileDataExtraction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{%endblock%}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="forgot_password_user verification">
        <h2>Ingrese su contraseña</h2>
        <input type="password" name="password" id="password" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*" title="Una contraseña válida es un conjuto de caracteres,
            donde cada uno consiste de una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al menor un dígito"  required>
        <input type="submit" value="Cambiar" enctype="multipart/form-data">
    </div>
</form>
{% endblock %}